__pycache__/
*.py[cod]
data/
.android-sdk/
.android-cmdline-tools/
mobile/android-dashboard/.gradle/
mobile/android-dashboard/build/
mobile/android-dashboard/local.properties
mobile/android-dashboard/app/build/
dist/
